/* src/LoginPage.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* padding: 20px; */
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #0056b3;
}

.login-footer {
    text-align: center;
    margin-top: 15px;
}

.login-footer span {
    font-size: 14px;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
